<div class="videos-latest-list">
	<h4 class="ptitle vp_actvt_title">
		<div><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><path fill="currentColor" d="M14,17H7V15H14M17,13H7V11H17M17,9H7V7H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z"></path></svg></div> {{LANG recent_activities}}
		<?php if (IS_LOGGED && $pt->config->post_system == 'on' && $pt->profile_user->id == $pt->user->id) { ?>
			<a href="{{LINK create_post}}" class="btn btn_primary_rev cret_artcle" data-load="?link1=create_post">{{LANG create_post}}</a>
		<?php } ?>
	</h4>
	<?php if ($pt->posts_count == 0) { ?>
		<div class="empty_state">
			<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14,17H7V15H14M17,13H7V11H17M17,9H7V7H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z" /></svg></span>
			<p>{{LANG no_more_activity}}</p>
		</div>
	<?php } else { ?>
		<div class="pt_chnl_actvty">
			<div class="articles-container pt_actv_prnt">
				{{VIDEOS}}
			</div>
		</div>
	<?php } ?>
	<?php if ($pt->posts_count > 20) { ?>
		<button class="watch-video-show-more desc vp_load_more" data-type="activity" onclick="PT_LoadActivity(this);">
			<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg></span> {{LANG show_more}}
		</button>
	<?php } ?>
</div>
<div class="clear"></div>
<script type="text/javascript">
	  function PT_LikePost(self,type){
    if (!self || (type != 'up' && type != 'down')){
      return false;
    }

    else if (!$('#main-container').attr('data-logged') && $('#main-url').val()) {
      window.location.href = PT_Ajax_Requests_File() + 'login?to=' + $('#main-url').val();
      return false;
    }
    id = $(self).attr('data-post-id');

    var self = $(self);
    $.ajax({
      url: '{{LINK aj/like-system/}}' + type,
      type: 'POST',
      dataType: 'json',
      data: {activity_id: id}
    })
    .done(function(data) {
      if (data.status == 200 && type == 'up' && data.code == 1){
        self.find('span').text((data.up));
        $('[data-post-dislikes]').find('span').text((data.down));
        self.find('svg').addClass('active');
        self.siblings().find('svg').removeClass('active');
      }

      else if (data.status == 200 && type == 'up' && data.code == 0){
        self.find('span').text((data.up));
        $('[data-post-dislikes]').find('span').text((data.down));
        self.find('svg').removeClass('active');
        self.siblings().find('svg').removeClass('active');
      }

      else if (data.status == 200 && type == 'down' && data.code == 1){
        self.find('span').text((data.down));
        self.find('svg').addClass('active');
        $('[data-post-likes]').find('span').text((data.up));
        self.siblings().find('svg').removeClass('active');
      }

      else if (data.status == 200 && type == 'down' && data.code == 0){
        self.find('span').text((data.down));
        self.find('svg').removeClass('active');
        $('[data-post-likes]').find('span').text((data.up));
        self.siblings().find('i').removeClass('active');
      }

      else{
        swal(
           'Error!',
           'Something went wrong.Please try again later!',
           'error'
         );
      }
    })
    .fail(function() {
      console.log("error");
    })
  }
</script>